@import "fonts";

$primary: #2b6eff;
$primaryText: #ffffff;
$primary75: #{$primary}bb;
$primary50: #{$primary}88;
$primary25: #{$primary}44;
$primary10: #{$primary}1a;

$primaryDark: #133e99;
$primaryDarkText: #ffffff;
$primaryDark75: #{$primaryDark}bb;
$primaryDark50: #{$primaryDark}88;
$primaryDark25: #{$primaryDark}44;
$primaryDark10: #{$primaryDark}1a;

$secondary: #3c6acd;
$secondaryText: #ffffff;
$secondary75: #{$secondary}bb;
$secondary50: #{$secondary}88;
$secondary25: #{$secondary}44;
$secondary10: #{$secondary}1a;
