<!DOCTYPE html>
<html>
	<head>
		{% block style %}{% endblock %}
		{% block script %}{% endblock %}
		<title>{% block title %}Title Page{% endblock %}</title>
	</head>
	<body>
		{% block before_app %}{% endblock %}
		<div id="framework_app">{% block app %}{% endblock %}</div>
		{% block after_app %}{% endblock %}
	</body>
</html>
