<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{BASE_URL()}}/assets/css/app/errors/template.css" />
		<script src="{{BASE_URL()}}/assets/js/framework.js"></script>
		<script src="{{BASE_URL()}}/assets/js/app/errors/index.js"></script>
		<title>{{th.message}}</title>
	</head>
	<body>
		<div id="errors">
			<div class="top">
				<div class="message">{{th.message}}</div>
				<div class="file">{{th.file}}:{{th.line}}</div>
			</div>
			<div class="bottom">
				<div class="header">
					<div class="element active" id="stack_trace">
						Stack Trace
					</div>
					<div class="element" id="request">Request</div>
					<div class="element" id="preview">Preview</div>
					<div class="element" id="response">Response</div>
				</div>
				<div class="content">
					<div class="element active" id="content_stack_trace">
						<div class="left">
							{% for keyStep,step in traces %}
							<div
								class="
									step{%
									if
									keyStep
									==
									0
									%}
									active{%
									endif
									%}
								"
								data-number="{{keyStep}}"
							>
								<div
									class="file"
									title="{{step.file}}:{{step.line}}"
								>
									{{step.file}}:{{step.line}}
								</div>
								<div
									class="class"
									title="{{step.class}}{{step.type}}{{step.function}}"
								>
									{{step.class}}{{step.type}}{{step.function}}
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="right">
							{% for keyStep,step in traces %}
							<div
								class="
									step{%
									if
									keyStep
									==
									0
									%}
									active{%
									endif
									%}
								"
								data-number="{{keyStep}}"
								id="step_{{keyStep}}"
							>
								<div class="top">
									<div
										class="file"
										title="{{step.file}}:{{step.line}}"
									>
										{{step.file}}:{{step.line}}
									</div>
									<div
										class="class"
										title="{{step.class}}{{step.type}}{{step.function}}"
									>
										{{step.class}}{{step.type}}{{step.function}}
									</div>
								</div>
								<div class="rows">{{step.fileContent|raw}}</div>
								<div class="numbers">
									{% for i in 0..step.numberRows-1 %}
									<div
										class="
											number{%
											if
											step.line
											==
											i+1
											%}
											active{%
											endif
											%}
										"
									>
										{{i+1}}
									</div>
									{% endfor %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="element" id="content_request">
						<div class="sections">
							{% for row in request %} {{
							include('request_section.html') }} {% endfor %}
						</div>
					</div>
					<div class="element" id="content_preview">
						{{preview|raw}}
					</div>
					<div class="element" id="content_response">
						<div class="rows">
							{% for rowNumber,row in previewRows %}
							<div
								class="
									row{%
									if
									step.line
									==
									rowNumber+1
									%}
									active{%
									endif
									%}
								"
								data-number="{{rowNumber+1}}"
							>
								{{row|raw}}
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
