@import url(//fonts.googleapis.com/css?family=Lato);
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 100;
  src: url("./../../../fonts/JetBrainsMono/ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 100;
  src: url("./../../../fonts/JetBrainsMono/ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 200;
  src: url("./../../../fonts/JetBrainsMono/Thin.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 200;
  src: url("./../../../fonts/JetBrainsMono/ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 300;
  src: url("./../../../fonts/JetBrainsMono/Light.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 300;
  src: url("./../../../fonts/JetBrainsMono/LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 400;
  src: url("./../../../fonts/JetBrainsMono/Regular.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 400;
  src: url("./../../../fonts/JetBrainsMono/RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 500;
  src: url("./../../../fonts/JetBrainsMono/Medium.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 500;
  src: url("./../../../fonts/JetBrainsMono/MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 600;
  src: url("./../../../fonts/JetBrainsMono/SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 600;
  src: url("./../../../fonts/JetBrainsMono/SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 700;
  src: url("./../../../fonts/JetBrainsMono/Bold.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 700;
  src: url("./../../../fonts/JetBrainsMono/BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 800 900;
  src: url("./../../../fonts/JetBrainsMono/ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 800 900;
  src: url("./../../../fonts/JetBrainsMono/ExtraBoldItalic.ttf") format("truetype");
}
table {
  border-collapse: collapse;
  border: 1px solid #3c6acd1a;
}
table tr:not(:last-child) {
  border-bottom: 1px solid #3c6acd1a;
}
table > thead > tr > th {
  font-weight: bold;
  padding: 10px 16px;
  text-align: center;
  background: #3c6acd;
  color: #ffffff;
}
table > tbody > tr:hover > td {
  background-color: #00000010;
}
table > tbody > tr > td {
  padding: 10px 16px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Lato";
  color: #000;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c6acd;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #0000;
}

body {
  background: #eeeef5;
}
body #framework_app #errors {
  width: 1300px;
  margin: 50px auto;
}
body #framework_app #errors > .top {
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px 40px;
  border: 1px solid #3c6acd1a;
}
body #framework_app #errors > .top .message {
  font-size: 24px;
}
body #framework_app #errors > .top .file {
  margin-top: 16px;
  font-size: 16px;
  color: #3c6acd88;
}
body #framework_app #errors > .bottom {
  border: 1px solid #3c6acd1a;
  border-radius: 4px;
}
body #framework_app #errors > .bottom > .header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  padding: 3px;
  background: #3c6acd;
}
body #framework_app #errors > .bottom > .header > .element {
  height: 34px;
  text-align: center;
  padding: 0 18px;
  margin: 0 2px;
  line-height: 34px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}
body #framework_app #errors > .bottom > .header > .element:hover, body #framework_app #errors > .bottom > .header > .element.active {
  background: #133e99;
  color: #ffffff;
}
body #framework_app #errors > .bottom > .header > .element.active {
  cursor: default;
}
body #framework_app #errors > .bottom > .content {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #ffffff;
}
body #framework_app #errors > .bottom > .content > .element {
  display: none;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
body #framework_app #errors > .bottom > .content > .element.active {
  display: block;
}
body #framework_app #errors > .bottom > .content > .element.active#content_stack_trace {
  display: grid;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace {
  grid-template-columns: 350px 950px;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left {
  overflow-y: auto;
  overflow-x: hidden;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left > .step {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 20px 50px;
  cursor: pointer;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left > .step * {
  color: inherit;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left > .step::before {
  content: attr(data-number);
  position: absolute;
  left: 0;
  width: 50px;
  text-align: center;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left > .step::after {
  content: "";
  background: #3c6acd44;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 50px;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left > .step.active {
  cursor: default;
  background: #3c6acd1a;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left > .step.active::after {
  background: #3c6acdbb;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left > .step:not(.active):hover::after {
  background: #3c6acd88;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left > .step > div {
  padding: 0 0 0 20px;
  overflow: hidden;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .left > .step > div.class {
  color: #2b6eff88;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right {
  width: 950px;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step {
  display: none;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 950px;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step.active {
  display: flex;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .top {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding: 15px 10px 15px 20px;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .top > .class {
  color: #2b6eff88;
  font-size: 16px;
  height: 19px;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .top > .file {
  font-size: 18px;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .numbers {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px;
  bottom: 0;
  background: #353535;
  padding: 12px 0;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .numbers > .number {
  position: relative;
  height: 17px;
  max-height: 17px;
  min-height: 17px;
  font-size: 13px;
  width: 40px;
  padding: 0 12px;
  user-select: none;
  color: #ffffff;
  text-align: end;
  /*
  											&::after {
  												content: "";
  												width: 1000px;
  												height: 17px;
  												max-height: 17px;
  												min-height: 17px;
  												position: absolute;
  												top: 0;
  											}
  */
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .numbers > .number.active, body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .numbers > .number:hover {
  background: #3c6acd88;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .numbers > .number.active::after, body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .numbers > .number:hover::after {
  background: #3c6acd44;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .numbers > .number.active::after {
  background: #3c6acd44;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #1e1e1e;
  padding: 12px 0;
  height: 100%;
  width: 910px;
  margin-left: 40px;
  overflow-x: auto;
  overflow-y: hidden;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row {
  color: #d4d4d4;
  white-space: nowrap;
  word-break: keep-all;
  width: -webkit-fit-content;
  position: relative;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  padding-right: 20px;
  font-family: JetBrainsMono !important;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row * {
  font-family: JetBrainsMono !important;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .tab {
  width: 30px;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .class {
  color: #00ccaf;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .keyword {
  color: #569cd6;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .keyword * {
  color: #569cd6 !important;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .utils {
  color: #da70ca;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .number {
  color: #aecea3;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .function {
  color: #dbdba3;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .function * {
  color: #dbdba3 !important;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .variable {
  color: #88deff;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .variable * {
  color: #88deff !important;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .string {
  color: #ce9178;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .string *:not(.variable) {
  color: #ce9178 !important;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .comment {
  color: #5d9b4c;
}
body #framework_app #errors > .bottom > .content > .element#content_stack_trace > .right > .step > .bottom > .rows > .row .comment * {
  color: #5d9b4c !important;
}
body #framework_app #errors > .bottom > .content > .element#content_response > .rows {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #1e1e1e;
  padding: 12px 0;
}
body #framework_app #errors > .bottom > .content > .element#content_response > .rows::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background: #353535;
}
body #framework_app #errors > .bottom > .content > .element#content_response > .rows > .row {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 44px;
  min-height: 20px;
  letter-spacing: 1px;
  color: #d4d4d4;
}
body #framework_app #errors > .bottom > .content > .element#content_response > .rows > .row * {
  color: inherit;
}
body #framework_app #errors > .bottom > .content > .element#content_response > .rows > .row::before {
  content: attr(data-number);
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  user-select: none;
  color: #ffffff;
  letter-spacing: 0;
}
body #framework_app #errors > .bottom > .content > .element#content_response > .rows > .row.active, body #framework_app #errors > .bottom > .content > .element#content_response > .rows > .row:hover {
  background: #3c6acd44;
}
body #framework_app #errors > .bottom > .content > .element#content_response > .rows > .row.active::before {
  background: #3c6acd88;
}
body #framework_app #errors > .bottom > .content > .element#content_response > .rows > .row .tab {
  width: 30px;
}
body #framework_app #errors > .bottom > .content > .element > .sections > .section {
  padding: 20px 30px;
}
body #framework_app #errors > .bottom > .content > .element > .sections > .section > .title {
  font-weight: bold;
}
body #framework_app #errors > .bottom > .content > .element > .sections > .section > .rows {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 8px 24px;
}
body #framework_app #errors > .bottom > .content > .element > .sections > .section > .rows > :nth-child(2n+1) {
  text-align: end;
  font-weight: 100;
  color: #3c6acd88;
}
body #framework_app #errors > .bottom > .content > .element > .sections > .section > .rows > :nth-child(2n) {
  word-break: break-all;
}
body #framework_app #errors > .bottom > .content > .element > .sections > .section:not(:last-child) {
  border-bottom: 2px solid #3c6acd1a;
}

/*# sourceMappingURL=template.css.map */
