@import "../variables", "tags/table";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Lato";
    color: #000;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: #0000;
}
